html, body{
	background:#222;
	color:#fff;
	font:16px sans-serif;
	padding:0;
	margin:0;
}
header{ 
	background:#111;
	padding:1em;
	border-bottom:1px solid #444;
	border-top:1px solid #111;
}

svg{
	display:;
}
path{
	fill:rgba(255,255,255, .1);
}
a{
	color:#9af;
}
img{
	
	width:1em;
}
label{
	display:inline-block;
	width:10em;
	text-align: right;
	margin: 0 1ex;
}
input, textarea, button{
	padding:0.5em;
	border:1px solid #222;

}
button{
	background:#9af;
}
footer{
	text-align: center;
	padding:1em;
	border-top:1px solid #000;
	

}

.league{
	margin: 1ex;
	
}
.league_teams{
	display:flex;
	flex-direction: row;
	align-items: center;
	flex-wrap:    wrap;
	
	justify-content: space-between;

}
.league_teams div{
flex-basis: 25%;
min-width: 350px;

}
.team{
	margin-right:1ex;
	background: #1d1d1d;

}
.team p {
	padding: 0 1ex;
}
.team header, header.league_list{
	background:#161616;
	height:3em;
	line-height: 3em;
	text-align: center;
	display:flex;
	flex-direction: row;


}


.team header h3, header.league_list h2{
	padding:0;
	margin:0 1ex;
}
.team header img.team_crest, img.league_logo_big {
	width:3em;
}
.team header img.league_logo {
	width:2em;
	margin:0 1ex 0 0 ;
}
.team .social{
	margin : 1em 0;
	display:flex;
	flex-direction: row;
}
.team .social a{
	margin :0 10px;
	display:inline-block;
}
#form{
	padding:0 1em;
}
#display{
	display:flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	padding:0 1em;
	
}
#display div{

}

#result div#result-list{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#map{

	min-width:325px;
}
#svgmap{
	border:1px solid #000;
}

